.children {

  font-size: 2rem;
  margin: 5rem auto;

  th {
    background-color: $color-primary;
    color: $color-secondary-light;
    font-style: italic;
    padding: 0 2rem;
    //justify-self: center;
  }

  tr {
    &:hover {
      background-color: $color-primary-light;
      cursor: pointer;
    }
  }

  td {
    border: 1px solid gray;
    font-size: 2rem;
    padding: 0 0.5rem;
  }
}

.child-profile {
  &__form {
    width: max-content;
  }

  &__button {
    width: max-content;
    margin: 2px;
  }
}
