#class_grid {
  display: grid;
  border: 1px black;

  grid-template-columns: repeat(2, max-content);
  grid-template-areas: 'blank 0900' 'classroom1 classroom1-9am' 'classroom2 classroom2-9am' 'classroom3 classroom3-9am';

  div {
    font-size: 3rem;
    margin: 3px;
    border: 3px black;
    background-color: antiquewhite;
  }
}

@use "sass.string";

$locations:'header', 'class1', 'class2', 'class3', 'cafe1', 'cafe2','cafe3','cafe4','cafe5','cafe6','conf','music','stage','wysz';
$times: '9AM','10AM','11AM';
$areas: '';

@each $loc in $locations {
    $areas:  $areas + '"'  + $loc;
        @each $time in $times{
        $areas: $areas + ' ' + $loc + '-' + $time;
    };
    $areas: $areas + '"';
}


#class_grid_test {
    display: grid;
    background-color: antiquewhite;
  
    grid-template-columns: repeat(3, minmax(min-content));
    grid-template-areas: unquote($areas);
  
    div {
      font-size: 2rem;
      margin: 3px;
      background-color: white;
      text-align: center;
    }

    .label{
        font-size:3rem;
        background-color: lightblue;
    }
  }
