.card {  background-color: white;
  box-shadow: 1px 1px 3px 1px rgba($color-primary-dark, 0.2);

  font-size: 1.5rem;
  width: max-content;
  height: max-content;

  position: relative;
  display: flex;
  flex-wrap: wrap;

  &__header-background {
    background-image: linear-gradient(
      to bottom,
      rgba($color-primary-light, 1),
      rgba($color-primary, 1)
    );
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 80%);

    z-index: 3;
    height: 5rem;
  }

  &__header-text {
    font-size: 2rem;
    white-space: nowrap;
    color: $color-secondary-light;
    background-color: $color-primary-dark;
    transform: skew(-20deg);

    padding: 0 1rem;

    position: absolute;
    top: 1rem;
    left: 4rem;
  }

  &__outline-box {
    border: 1px solid rgba($color-primary, 0.5);

    &--bottom {
      border-bottom: 1px solid rgba($color-primary, 0.5);
    }
  }

  &__column {
    min-width: 20rem;

    &--small {
      min-width: 20rem;
    }

    &--medium {
      min-width: 30rem;
    }

    &--large {
      min-width: 40rem;
    }

    &--extra-large {
      min-width: 50rem;
    }
  }

  &__item {
    padding: 0 1rem;

    &--center {
      text-align: center;
    }
    &--left {
      text-align: left;
    }
    &--right {
      text-align: right;
    }
  }
  &__button {
    background-color: $color-secondary;
    color: white;
    font-size: 1.5rem;
    padding: 0px 0.5rem;
    margin: 1rem;
    text-decoration: none;

    border: none;
    border-radius: 3px;

    &:hover,
    &:active,
    &:focus {
      outline: none;
      background-color: $color-secondary-dark;
      cursor: pointer;
    }
  }
}

.dropdown {
  position: relative;
  background-color: inherit;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  padding: 0.5rem;
  cursor: pointer;

  &__content {
    position: absolute;
    display: none;

    background-color: white;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);

    width: max-content;
    padding: 1rem 2rem;
    top: 3rem;
    z-index: 1;
  }

  &__item {
    color: $color-primary-dark;
    font-weight: normal;
    border-bottom: 2px solid transparent;

    &:hover {
      text-decoration: none;
      border-bottom-color: $color-primary-dark;
    }
  }

  &:hover .dropdown__content {
    display: block;
  }
}

.alert {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  padding: 2rem 20rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  &--success {
    background-color: green;
  }
  &--error {
    background-color: red;
  }
}

.form {
  background-color: $color-tertiary-extra-light;
  box-shadow: 1px 1px 3px 1px rgba($color-primary-dark, 0.2);

  font-size: 3rem;
  min-width: min-content;
  width: 50%;
  height: max-content;
  margin: auto;

  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  &--wide {
    width: 90%;
  }
  &--row {
    flex-direction: row;
  }
  &__warning {
    color: red;
    font-weight: bold;
    font-size: 2.5rem;
    visibility: hidden;
    text-align: center;
    flex: 1;
    border: 1px solid red;
  }
  &__header-background {
    background-image: linear-gradient(
      to bottom,
      rgba($color-primary-light, 1),
      rgba($color-primary, 1)
    );
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 80%);

    z-index: 3;
    height: 10rem;
    flex: 1;
  }

  &__header-text {
    font-size: 3rem;
    white-space: nowrap;
    color: $color-secondary-light;
    background-color: $color-primary-dark;
    transform: skew(-20deg);
    z-index: 20;

    padding: 0 1rem;

    position: absolute;
    top: 1rem;
    left: 4rem;
  }

  &__outline-box {
    border: 1px solid rgba($color-primary, 0.5);

    &--bottom {
      border-bottom: 1px solid rgba($color-primary, 0.5);
    }
  }

  &__row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  &__column {
    flex: 1;

    &--small {
      min-width: 20rem;
    }
    &--medium {
      min-width: 30rem;
    }
    &--large {
      min-width: 40rem;
    }
  }

  &__item {
    padding: 0 1rem;

    &--center {
      text-align: center;
    }
    &--left {
      text-align: left;
    }
    &--right {
      text-align: right;
    }
  }

  &__button {
    background-color: $color-primary-dark;
    color: white;
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
    margin: 0.5rem auto;

    border: none;
    border-radius: 5px;
    margin-bottom: 2rem;

    &:hover {
      outline: none;
      background-color: $color-primary-light;
      cursor: pointer;
    }
    &:disabled {
      outline: none;
      background-color: $color-gray-light-2;
      color: $color-gray-light-1;
      cursor: not-allowed;
    }
  }
  &__cancel {
    background-color: inherit;
    color: black;
    border: 1px solid black;
    border-radius: 5px;

    &:hover,
    &:active {
      background-color: inherit;
      color: $color-primary-light;
      border-color: $color-primary-light;
    }
  }

  &__label {
    font-size: 1.5rem;
    color: $color-secondary-dark;
  }

  &__label-radio {
    font-size: 1.5rem;
    color: $color-primary-dark;
    margin-left: 0.5rem;
    margin-right: 1.5rem;
  }
  &__input {
    font-size: 2rem;
    background-color: white;
    margin: 0 1rem 1rem 1rem;
    padding: 0 1rem;
    border: 1px solid $color-secondary;
    display: block;

    &--inline {
      display: inline;
    }

    &:focus {
      outline: none;
      border-bottom: 3px solid green;
    }
    &:focus:invalid {
      border-bottom-color: red;
    }
    &::placeholder {
      font-size: 1.5rem;
      color: $color-gray-light-1;
    }
  }
  &__radio-group,
  &__dropdown-group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }

  &__radio-item {
    display: flex;
    align-items: center;

    &:hover {
      cursor: pointer;
    }
  }
  &__select {
    &--narrow {
      width: 10rem;
    }
    &--medium {
      width: 25rem;
    }
    &--wide {
      width: 50rem;
    }
    &:disabled {
      outline: none;
      background-color: $color-gray-light-2;
      color: $color-gray-light-1;
      cursor: not-allowed;
    }
  }

  &__radio-input {
  }

  &__option {
    font-style: italic;
    font-weight: bold;

    &:disabled {
      color: $color-gray-light-1;
      font-style: normal;
      font-weight: normal;
    }
  }
}

select {
  border: 1px solid $color-secondary;
  color: $color-primary;
  outline: none;
  font-size: 2rem;
  padding: 3px;
  background-color: white;
}
option {
  font-size: 1.5rem;
  padding-left: 1rem;
}

.year-select {
  margin: auto;
}

.form-modal,
.delete-modal {
  &__window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    position: absolute;
    flex: 1;
    box-shadow: 5px 5px 5px 1px black;
  }
  &__close {
    top: 0;
    right: 0;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: $color-primary-light;

    &:hover {
      background-color: $color-primary;
    }
  }
  &__show {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  }
}

.button,
.button-ok {
  background-color: $color-primary;
  color: white;
  //width: 8rem;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  margin: 1rem;

  border: 0.5px solid $color-primary;
  border-radius: 5px;
  margin-bottom: 2rem;

  &:hover,
  &:active {
    border-color: $color-primary-light;
    outline: none;
    background-color: $color-primary-light;
    cursor: pointer;
  }
}

.button-cancel {
  background-color: inherit;
  color: black;
  width: 8rem;
  border: 0.5px solid black;
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  margin: 1rem;

  &:hover,
  &:active {
    border: 0.5px solid $color-primary-light;
    color: $color-primary-light;

    cursor: pointer;
  }
}
