.card{
  background-color: white;
  box-shadow: 1px 1px 3px 1px rgba($color-primary-dark, .2); 
  
  font-size: 1.5rem;
  width: max-content;   
  height: max-content; 

  position: relative;  
  display: flex;  
  flex-wrap: wrap;      

  &__header-background{ 
    background-image:linear-gradient(  
      to bottom,
      rgba($color-primary-light, 1), 
      rgba($color-primary, 1)
    );
    clip-path: polygon( 0 0, 100% 0, 100% 50%, 0 80%);

    z-index: 3;
    height: 5rem;   

  }

  &__header-text{ 
    font-size: 2rem;
    white-space: nowrap;
    color: $color-secondary-light;
    background-color: $color-primary-dark;
    transform: skew(-20deg);

    padding: 0 1rem;

    position: absolute;
    top: 1rem;
    left: 4rem;
  }
 
  &__outline-box{
    border: 1px solid rgba($color-primary, .5);

    &--bottom{
      border-bottom: 1px solid rgba($color-primary, .5);
    }

  }

  &__column{
    
    min-width: 20rem;

    &--small{
      min-width: 20rem;
    }
    &--medium{
      min-width: 30rem;
    }
    &--large{
      min-width: 40rem;
    }
  }

  &__item{
    padding: 0 1rem; 
  }   
}

.dropdown{
  position:relative;
  background-color: $color-primary-light;

  &__content{
    position: absolute;
    display: none;
 
    background-color: $color-primary-light;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .2); 

    width: max-content;
    padding: 1rem 2rem;

    right: 0;
    z-index: 1;
  }

  &__item{
    color: $color-primary-dark;
    font-weight: normal;
    border-bottom: 2px solid transparent;

    &:hover{
      border-bottom-color: $color-primary-dark;
    }
  }

  &:hover .dropdown__content{
    display: block;
  }
}

.alert {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 2rem;
  font-weight: 400; 
  text-align: center;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  padding: 2rem 20rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  &--success {
    background-color: green;
  }
  &--error {
    background-color: red; 
  }
}

