.report {  padding: 0.5in 0.5in;
  width: 8.5in;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: 7rem;
  -webkit-print-color-adjust: exact;

  &__box {
    border: 1px solid black;
    border-radius: 3px;
    break-inside: avoid;
    margin: auto;
  }

  &__title {
    background-color: lightGray;
  }

  &__column {
    text-align: left;
  }
}

.report-class-lists {
  width: 8.5in;
  margin: 0.5in;
  -webkit-print-color-adjust: exact;
  &-box {
    border: 1px solid black;
    margin: 1rem 0 0 0;
    break-inside: avoid;
  }
  &-hour {
    break-after: page;
  }
  &-course {
    display: flex;
    flex-direction: row;
    background-color: #f8f8fb;
    &-name {
      flex: auto;
      padding: 0 1rem;
    }
    &-hour,
    &-location {
      flex: initial;
      padding: 0 1rem;
    }
  }
  &-enrollments {
    padding: 0 1rem;
    break-inside: avoid;
  }
  &-enrollment {
    margin: 0;
    padding: 0 3rem;
    font-size: 1.5rem;
  }
}

.report-invoices {
  width: 8.5in;
  margin: 0.5in;
  -webkit-print-color-adjust: exact;
  &-box {
    border: 1px solid black;
    margin: 1rem 0 0 0;
    break-inside: avoid;
  }
  &-family {
    background-color: #f8f8fb;
  }
  &-teacher {
    margin: 0;
    padding: 0 3rem;
    font-size: 2 rem;
    font-style: italic;
    font-weight: bold;
  }
  &-classes {
    padding: 0 6rem;
    break-inside: avoid;
  }
  &-record {
    display: flex;
    flex-direction: row;

    &-class {
      flex: auto;
      padding: 0 1rem;
    }
    &-student,
    &-price,
    &-materials {
      flex: initial;
      padding: 0 1rem;
    }
  }
}
.report-children {
  width: 8.5in;
  margin: 0.5in;
  -webkit-print-color-adjust: exact;
  &__box {
    border: 1px solid black;
    margin: 1rem 0 0 0;
    break-inside: avoid;
  }
  &__grade {
    background-color: #f8f8fb;
  }

  &__record {
    display: flex;
    flex-direction: row;

    &__student {
      flex: initial;
      padding: 0 1rem;
    }
  }
}

.report-courses {
  width: 8.5in;
  margin: 0.5in;
  -webkit-print-color-adjust: exact;
  &-box {
    border: 1px solid black;
    margin: 1rem 0 0 0;
    break-inside: avoid;
  }
  &-course {
    background-color: #f8f8fb;
  }
  &-name {
    margin: 0;
    padding: 0 3rem;
    font-size: 2 rem;
    font-style: italic;
    font-weight: bold;
  }
  &-teacher{
    margin: 0;
    padding: 0 3rem;
    font-size: 2 rem;
    font-style:normal;
    font-weight: normal;
    text-align: right;
  }

  &-courses {
    padding: 0 3rem;
    break-inside: avoid;
    background-color: white;
  }
  &-column {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  &-row {
    display: flex;
    flex-direction: row;
  }
  &-record {
    display: flex;
    flex-direction: row;

    &-item {
      flex: 1;
      padding: 0 1rem;

      &__first {
        flex: 1;
        padding: 0 1rem;
      }
      &__last {
        flex: auto;
      }
      &__right {
        flex: 1;
        text-align: right;
      }
    }
  }
}

.report-payments {
  width: 8.5in;
  margin: 0.5in;
  -webkit-print-color-adjust: exact;
  &-box {
    border: 1px solid black;
    margin: 1rem 0 0 0;
    break-inside: avoid;
  }
  &-teacher {
    background-color: #f8f8fb;
  }
  &-parent {
    margin: 0;
    padding: 0 3rem;
    font-size: 2 rem;
    font-style: italic;
    font-weight: bold;
  }
  &-payments {
    padding: 0 6rem;
    break-inside: avoid;
  }
  &-record {
    display: flex;
    flex-direction: row;

    &-check {
      flex: auto;
      padding: 0 1rem;
    }
    &-amount {
      flex: initial;
      padding: 0 1rem;
    }
  }
}

.report-sign-up-sheet {
  width: 8.5in;
  margin: 0.5in;
  -webkit-print-color-adjust: exact;
  font-size:1.2rem;
  
  &-box {
    border: 1px solid black;
    margin: 1rem 0 0 0;
    break-inside: avoid;
  }
  &-time,
  &-family-name,
  &-child-name {
    background-color: $color-gray-light-2;
    width: 100%;
  }

  &-cl,
  &-time {
    margin: 0;
    font-size: 2 rem;
    width: 2.75in;
    border: 1px solid black;
  }
  &-fees,
  &-family-name {
    width: 1.125in;
    border: 1px solid black;

    .item {
      display: flex;
      .title {
        justify-content: left;
      }
      .cost {
        flex: 1;
        text-align: right;
      }
    }
    &-header {
      font-size: 2rem;
      text-align:center
    }
  }

  &-record {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: white;

    &-box,
    &-child-name {
      flex: 1;
      padding: 0 0rem;
      border: 1px solid black;
     
      &__filled {
        background-color: $color-gray-light-1;
      }
      &-header {
        font-size: 1rem;
        text-align:center;
        background-color: $color-gray-light-2;
      }
      
    }
  }
}
.year-selector {
  display: flex;
  justify-content: center;
}
