@import 'components/tables';
@include edit-table(tests, test);

.tests {
  padding: 2rem 5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 7rem;

  &__title {
    text-align: center;
  }
}
